body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar {
  padding-left: 4rem;
}

.navbar-brand {
  font-family: 'Century Gothic', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-Light';
}

.container-fluid {
  padding: 2% 10%;
}

/* Title Section */
#title {
  background-color: #AED9A3;
}

.titlePic{
  box-shadow: 5px 5px 3px black;
}

.titleText {
  font-family: 'Kosugi Maru', sans-serif;
  line-height: 1.5;
  margin: auto
}

/* Buttons */
.titleButtons {
  margin: 5% 3% 5% 0;
}

/* Features */
#features {
  font-family: 'Kosugi Maru', sans-serif;
  padding: 8% 15%;
}

.feature-item {
  text-align: center;
  padding: 5%;
  line-height: 1.5;
}

.icon {
  color: #523720;
  transition: all ease-in-out 200ms;
  padding-bottom: 1rem;
}

.icon:hover {
  color: #301B10;
}

/*Testimonials*/
#testimonials {
  text-align: center;
  background-color: #F2CAA7;
  font-family: 'Kosugi Maru', sans-serif;
}

.testimonial-picture {
  border-radius: 100%;
  width: 20%;
  margin: 50px 20px 10px 20px;
}

.testimonialHeading {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
}

.carousel-item {
  padding: 7% 15%;
}

/*Press*/
#press {
  background-color: #F2CAA7;
  text-align: center;
  padding: 0 15% 3%;
}

.press-logo {
  width: 25%;
  margin: 0 2%;
}

/* Pricing */
#pricing {
  padding: 100px 100px 50px;
  text-align: center;
  line-height: 1.5;
}

.pricingText {
  width: 60%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.priceCard {
  padding: 3% 2%;
  font-family: 'Kosugi Maru', sans-serif;
}

.priceTag {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Call to Action */
#cta {
  background-color: #AED9A3;
  text-align: center;
  padding: 4% 15%;
}

.ctaHeading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

.ctaButton {
  margin: 3% 3% 0 0;
}

/* footer */
#footer {
  background-color: #fff;
  text-align: center;
  padding: 3% 15% 5%;
}

.footerIcon {
  margin: 20px 10px;
  cursor: pointer;
}

#footer p{
  font-size: 0.5rem;
}
